html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

a {
    color: #232536;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1310px;
}

.title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -0.06em;
    color: #232536;
}

.btn {
    padding: 16px 48px;
    background-color: #ffd050;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: #edc14a;
}

.section-wrapper {
    margin-bottom: 128px;
}

.section__title {
    font-family: "Sen", sans-serif;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -0.06em;
    color: #232536;
}


/*-------
  HEADER
---------*/

.header {
    padding: 12px 0;
    background-color: #232536;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header__menu-list {
    display: flex;
    gap: 24px;
}

.header__menu-link {
    line-height: 175%;
    color: #fff;
}

.header__btn {
    background-color: #fff;
}

.header__menu-btn {
    display: none;
}

/*--------
  WELCOME
----------*/

.welcome {
    min-height: 100vh;
    position: relative;
}

.welcome::before {
    content: '';

    position: absolute;
    inset: 0;
    background:
        radial-gradient(circle, rgba(0, 0, 0, 0) 0%, #000 100%),
        image-set('../img/welcome.avif' type("image/avif"),
            '../img/welcome.webp' type("image/webp"),
            '../img/welcome.jpg' type("image/jpeg"));
    background-size: cover;
    background-position: center;
    transform: scale(-1, 1);
    z-index: -1;
}

.welcome__desc {
    max-width: 804px;
    padding-top: 128px;
    color: #fff;
}

.welocme__sub-title,
.welcome__title {
    margin-bottom: 24px;
}


.welocme__sub-title {
    display: inline-block;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.welocme__sub-title b {
    font-weight: 900;
}

.welcome__title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
    letter-spacing: -0.04em;
}

.welcome__info {
    margin-bottom: 16px;

}

.welcome__info-link {
    color: #ffd050;
}

.welcome__text {
    margin-bottom: 48px;
    max-width: 599px;
}

.welcome__btn {
    color: #232536;
}

/*------
  POSTS
--------*/

.posts__wrapper {
    display: flex;
    gap: 32px;
}

.featured__title,
.all__inner {
    margin-bottom: 32px;
}

.featured__card {
    width: 733px;
    padding: 32px;
    border: 1px solid rgba(109, 110, 118, 0.1);
}

.featured__card-image {
    margin-bottom: 30px;
    max-width: 669px;
    width: 100%;
    height: 352px;
    object-fit: cover;
}

.posts__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #4c4c4c;
}

.posts__info--second {
    margin-bottom: 18px;
}

.posts__info-link {
    color: #592ea9;
}

.featured__card-title {
    display: inline-block;
    margin-bottom: 15px;
    font-family: "Sen", sans-serif;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #232536;
}

.featured__card-text {
    margin-bottom: 33px;
    color: #6d6e76;
}

.all__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all__inner-link {
    color: #592ea9;
}

.all__list-item {
    padding: 32px 32px 25px;
    transition: background-color .5s;
}

.all__list-item:hover {
    background-color: #fbf6ea;
}

.all__list-item:nth-child(2) {
    background-color: #fbf6ea;
}

.all__list-item:nth-child(2):hover {
    background-color: #fff;
}

.all__list-item:nth-child(2) .posts__info {
    margin-bottom: 14px;
}

.all__list-item .posts__info {
    margin-bottom: 10px;
}

.all__list-link {
    display: inline-block;
    max-width: 370px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #232536;
}

/*----------
  COMMUNITY
------------*/

.lines {
    margin-left: auto;
    max-width: 1061px;
    display: flex;
}

.line__yellow {
    max-width: 779px;
    background-color: #ffd050;
}

.line__purple {
    max-width: 282px;
    background-color: #592ea9;
}

.line__yellow,
.line__purple {
    width: 100%;
    height: 23px;
}

.community__inner {
    padding: 96px 80px;
    background-color: #f4f0f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 61px;
}

.community__about,
.community__target {
    max-width: 516px;
}

.community__about-subtitle,
.community__target-subtitle {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #232536;
}

.community__about-title,
.community__target-title {
    font-family: "Sen", sans-serif;
    color: #232536;
}

.community__about-title,
.community__target-title,
.community__target-text {
    max-width: 485px;
}

.community__about-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -0.06em;
}

.community__about-title,
.community__about-text,
.community__target-title {
    margin-bottom: 16px;
}

.community__about-text,
.community__target-text {
    color: #6d6e76;
}

.community__about-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    color: #592ea9;
}

.community__target-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
}

/*-------
  CHOOSE
---------*/

.choose__title {
    margin-bottom: 48px;
    text-align: center;
}

.choose__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.choose__list-item {
    padding: 32px;
    border: 1px solid rgba(109, 110, 118, 0.3);
}

.choose__list-item:nth-child(2) {
    background-color: #ffd050;
}

.choose__list-wrapper {
    margin-bottom: 16px;
    background-color: #fbf6ea;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.choose__list-title {
    display: inline-block;
    margin-bottom: 4px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #232536;
}

.choose__list-text {
    color: #6d6e76;
}

/*--------
  STARTED
----------*/

.started__inner {
    position: relative;

}

.started__first-image {
    max-width: 949px;
    max-height: 705px;
    width: 100%;
    height: 100%;
}

.started__second {
    max-width: 708px;
    padding: 80px;
    background-color: #fff;
    position: absolute;
    top: 121px;
    right: 0;
    z-index: 5;
}

.started__second-subtitle,
.started__second-title {
    color: #232536;
}

.started__second-subtitle {
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.started__second-title {
    margin-bottom: 16px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
}

.started__second-text {
    margin-bottom: 32px;
    color: #6d6e76;
}

/*-------
  AUTHOR
---------*/

.author.section-wrapper {
    margin-bottom: 96px;
}

.author__title {
    margin-bottom: 48px;
    text-align: center;
}

.author__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.author__list-item {
    padding: 40px;
    background-color: #f4f4f4;
    text-align: center;
}

.author__list-item:nth-child(2) {
    background-color: #fbf6ea;
}

.author__list-image {
    display: block;
    margin: 0 auto;
}

.author__list-image,
.author__list-text {
    margin-bottom: 20px;
}

.author__list-link,
.author__list-text {
    line-height: 143%;
}

.author__list-link {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.04em;
    color: #232536;
}

.author__list-text {
    font-size: 14px;
    color: #6d6e76;
}

.author__socials {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/*--------------
  FEATURED LOGO
----------------*/

.featured-logo.section-wrapper {
    margin-bottom: 96px;
}

.featured-logo .container {
    display: flex;
    align-items: center;
    gap: 87px;
}

.featured-logo__first {
    color: #6d6e76;
    flex-shrink: 0;
}

.featured-logo__first-one {
    display: block;
    font-size: 14px;
    line-height: 143%;
    opacity: 0.6;
}

.featured-logo__first-two {
    font-family: "Sen", sans-serif;
    font-size: 24px;
    line-height: 133%;
}

.featured-logo__two-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 75px;
}

.featured-logo__two-image {
    max-width: 100%;
}

/*-------------
  TESTIMONIALS
---------------*/

.testimonials .container {
    padding: 80px 112px;
    background-color: #fbf6ea;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.testimonials__first {
    max-width: 345px;
    width: 100%;
    color: #232536;
}

.subtitle {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.testimonials__title {
    margin-bottom: 16px;
}

.testimonials__line {
    margin-right: 96px;
    margin-left: 80px;
    background-color: #6d6e76;
    width: 1px;
    height: 310px;
    opacity: 0.4;
}

.swiper {
    max-width: 532px;
}

.swiper-slide__text {
    max-width: 469px;
    margin-bottom: 115px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #232536;
}

.swiper-slide__user {
    display: flex;
    gap: 16px;
}

.swiper-slide__user-icon {
    width: 48px;
    height: 48px;
}

.swiper-slide__inner {
    display: flex;
    flex-direction: column;
}

.swiper-slide__inner-name {
    max-width: 210px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #232536;
}

.swiper-slide__inner-location {
    color: #6d6e76;
}

.testimonials__btn-wrapper {

    display: flex;
    align-items: center;
    gap: 24px;
    position: absolute;
    right: 129px;
    bottom: 80px;
    z-index: 10;
}

.testimonials-button-next,
.testimonials-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.testimonials-button-next {
    background-color: #fff;
    width: 48px;
    height: 48px;
}

.testimonials-button-prev {
    background-color: #232536;
    width: 62px;
    height: 62px;
}

/*-------------
  FEATURED POST
---------------*/

.featured-post {
    background-color: #f4f0f8;
}

.section-wrapper--second {
    margin-bottom: 64px;
}

.featured-post .container {
    padding: 80px 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.featured-post__inner {
    max-width: 624px;
}

.featured-post__subtitle,
.featured-post__title {
    color: #232536;
}

.featured-post__subtitle {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.featured-post__title,
.featured__info {
    margin-bottom: 16px;
}

.featured__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #4c4c4c;
}

.featured__info-link {
    margin-right: 3px;
    color: #592ea9;
}

.featured__info-date {
    margin-left: 3px;
}

.featured-post__text {
    margin-bottom: 32px;
    color: #6d6e76;
}

.featured-post__image {
    max-width: 515px;
    width: 100%;
    max-height: 359px;
    height: 100%;
    object-fit: cover;
}

/*----------
  ALL POSTS
------------*/

.all-posts__title,
.posts-card__title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    color: #232536;
}

.all-posts__title {
    margin-bottom: 64px;
    padding-bottom: 32px;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
    border-bottom: 1px solid rgb(109 110 118 / 0.32);
}

.all-posts__list-item {
    margin-bottom: 64px;
}

.posts-card {
    display: flex;
    align-items: center;
    gap: 32px;
}

.posts-card__image {
    max-width: 490px;
    width: 100%;
    height: 270px;
    object-fit: cover;
    flex-shrink: 0;
}

.posts-card__inner {
    max-width: 624px;
}

.posts__card-category {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #592ea9;
}

.posts-card__title {
    margin-bottom: 16px;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -0.06em;
}

.posts-card__desc,
.all-posts__pagination-txt {
    color: #6d6e76;
}

.all-posts__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.all-posts__pagination-txt,
.all-posts__pagination-link {
    font-family: "Sen", sans-serif;
    font-weight: 700;
}

.all-posts__pagination-txt {
    font-size: 24px;
    line-height: 133%;
}

.all-posts__pagination-link {
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #232536;
}

/*---------------
  ALL CATEGORIES
-----------------*/

.choose__title--second {
    text-align: left;
}

/*----------
  BLOG POST
------------*/

.blog-post .container {
    padding-top: 128px;
}

.blog-post__first {
    max-width: 768px;
    margin: 0 auto;
}

.blog-post__first,
.blog-post__image {
    margin-bottom: 64px;
}

.blog-post__first-inner {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.blog-post__first-image {
    width: 48px;
    height: 48px;
}

.blog-post__first-link,
.blog-post__title,
.blog-post__category {
    font-family: "Sen", sans-serif;
    font-weight: 700;
}


.blog-post__first-link {
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #592ea9;
    opacity: 0.87;
}

.blog-post__first-txt {
    color: #6d6e76;
}

.blog-post__title {
    margin-bottom: 34px;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #232536;
}

.blog-post__category {
    display: flex;
    font-size: 24px;
    line-height: 133%;
    color: #232536;
}

.blog-post__category-image {
    margin-right: 8px;
}

.blog-post__image {

    max-width: 1280px;
    width: 100%;
    max-height: 582px;
    height: 100%;
    object-fit: cover;
}

.blog-post__second {
    max-width: 843px;
    margin: 0 auto;
}

.blog-post__second-item {
    margin-bottom: 48px;
}

.blog-post__second-title {
    margin-bottom: 16px;
}

.blog-post__second-text {
    color: #6d6e76;
}

.blog-post__second-txt {
    margin-bottom: 24px;
}

.blog-post__second-list {
    margin-bottom: 24px;
    padding-left: 22px;
    list-style-type: disc;
}

.blog-post__second-element {
    margin-bottom: 2px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #161722;
    opacity: 0.78;
}

/*----------
  READ NEXT
------------*/

.read-next__title {
    margin-bottom: 64px;
    color: #000;
}

.read-next__list {
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    border-bottom: 1px solid rgb(109 110 118 / 0.3);
}

.read-next__list-item {
    max-width: 405px;
}

.read-next__post-image {
    margin-bottom: 32px;
    width: 100%;
    max-height: 318px;
    height: 100%;
    object-fit: cover;
}

.read-next__post-title {
    margin-bottom: 16px;
    font-family: "Sen", sans-serif;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #232536;
}

.read-next__post-text {
    color: #232536;
    opacity: 0.7;
}

/*---------
  ABOUT US
-----------*/

.about-us__first {
    padding-top: 16px;
    max-width: 1133px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 32px;
    position: relative;
    bottom: -64px;
    z-index: 5;
}

.about-us__first-inner {
    background-color: #fff;
    padding: 64px;
    max-width: 624px;
    width: 100%;

}

.about-us__subtitle {
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #232536;
}

.about-us__first-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #232536;
}

.about-us__first-txt {
    max-width: 477px;
    color: #4c4c4c;
}

.about-us__second {
    background-image: url('../img/about-us.jpg');
    background-size: cover;
    background-position: center;
    height: 444px;
    position: relative;
}

.about-us__second-inner {
    max-width: 861px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 109px;
}

.about-us__list {
    padding: 32px 48px;
    background-color: #ffd050;
    display: flex;
    gap: 68px;
}

.about-us__list-item {
    color: #232536;
}

.about-us__list-title {
    font-family: "Sen", sans-serif;
    font-size: 56px;
    line-height: 114%;
    letter-spacing: -0.04em;
}

.about-us__second-lines {
    flex-direction: row-reverse;
}

.about-us__second-lines .line__yellow {
    max-width: 550px;
}

.about-us__second-lines .line__purple {
    max-width: 311px;
}

.about-us__third {
    padding: 128px 108px 64px;
    background-color: #f4f0f8;
    display: flex;
    gap: 32px;
}

.about-us__third-one,
.about-us__third-two {
    max-width: 516px;
}

.about-us__third-title {
    max-width: 481px;
    margin-bottom: 16px;
    padding-top: 24px;
    font-family: "Sen", sans-serif;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #232536;
}

.about-us__third-txt {
    color: #6d6e76;
}

/*---------
  OUR TEAM
-----------*/

.our-team__inner {
    margin-bottom: 128px;
    display: flex;
    align-items: center;
    gap: 137px;
}

.our-team__inner--second {
    gap: 80px;
}

.our-team__text-wrapper {
    max-width: 519px;
}

.our-team__title,
.our-team__text {
    margin-bottom: 16px;
}

.our-team__text {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #232536;
}

.our-team__subtext {
    color: #232536;
}

.our-team__img-wrapper {
    max-width: 624px;
    width: 100%;
    position: relative;
}

.our-team__img-wrapper::before {
    content: '';
    background-image: url('../img/our-team-icon-1.svg');
    width: 103px;
    height: 116px;
    position: absolute;
    top: 114px;
    left: -58px;
    z-index: 5;

}

.our-team__image-wrapper {
    position: relative;
}

.our-team__image-wrapper::before {
    content: '';
    background-image: url('../img/our-team-icon-2.svg');
    width: 74px;
    height: 74px;
    position: absolute;
    left: 107px;
    bottom: -32px;

}

.our-team__image {
    max-width: 624px;
    width: 100%;
    height: 480px;
    object-fit: cover;
}

/*---------
  BUSINNES
-----------*/

.businnes {
    background-color: #F4F0F8;
}

.businnes .container {
    padding: 80px 0;
    max-width: 515px;
    text-align: center;
}

.businnes__title,
.businnes__category-link {
    color: #232536;
}

.businnes__title {
    margin-bottom: 16px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 114%;
    letter-spacing: -0.04em;
}

.businnes__text {
    margin-bottom: 32px;
    color: #6d6e76;
}

.businnes__category-link {
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.businnes__category-link+.businnes__category-link {
    margin-left: 5px;
}

/*---------------
  POSTS-CATEGORY
-----------------*/

.posts-category .container {
    display: flex;
    gap: 144px;
}

.posts-category__card .posts-card__image {
    max-width: 294px;
    max-height: 312px;
}

.posts-category__card .posts-card__inner {
    max-width: 512px;
}

.posts-category__second-title {
    margin-bottom: 40px;
}

.posts-category__first-list .all-posts__list-item:last-child {
    margin-bottom: 0;
}

.posts-category__list {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.posts-category__list-item {
    padding: 24px;
    border: 1.50px solid #c1c1c3;
    width: 296px;
}

.posts-category__list-item:first-child {
    background-color: #ffd050;
    border: none;
}

.posts-category__list-link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: "Sen";
    font-weight: 700;
    font-size: 28px;
    line-height: 143%;
    letter-spacing: -0.04em;
    color: #232536;
}

.posts-category__list-inner {
    background-color: #fbf6ea;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
}

.posts-category__second-title--2 {
    margin-bottom: 24px;
}

.posts-category__second-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 325px;
}

.posts-category__second-list-link {
    display: inline-block;

    padding: 8px 38px;
    border: 2px solid #6d6e76;
    border-radius: 28px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 229%;
    color: #232536;
}

/*------------
  AUTHOR PAGE
--------------*/

.author-post {
    background-color: #F4F0F8;
}

.author-post .container {
    max-width: 1024px;
    padding-top: 128px;
}

.author__inner {
    padding-bottom: 104px;
    display: flex;
    gap: 32px;
}

.author__image {
    max-width: 251px;
    width: 100%;
    max-height: 294px;
    height: 100%;
    object-fit: cover;
}

.author__text {
    max-width: 669px;
}

.author__text-title,
.author__text-desc {
    margin-bottom: 24px;
}

.author__text-title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #232536;
}

.author__text-desc {
    color: #6d6e76;
}

.author__text-list {
    display: flex;
    gap: 16px;
}

/*---------
  MY POSTS
-----------*/

.my-posts .container {
    max-width: 1024px;
}

.my-posts__title {
    margin-bottom: 64px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #232536;
}

.posts-card__image--second {
    max-width: 412px;
    width: 100%;
    max-height: 320px;
    height: 100%;
    object-fit: cover;
}

/*-----------
  CONTACT US
-------------*/

.contact-us .container {
    max-width: 768px;
}

.contauct-us__text {
    margin-bottom: 64px;
    padding-top: 128px;
    text-align: center;
}

.contauct-us__text-subtitle,
.contauct-us__text-title {
    color: #232536;
}

.contauct-us__text-subtitle {
    font-weight: 900;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
}

.contauct-us__text-title {
    margin-bottom: 24px;
    padding-top: 12px;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
}

.contauct-us__text-desc {
    color: #6d6e76;
}

.contact-us__info {
    margin-bottom: 32px;
    width: 100%;
    background-color: #592ea9;
    padding: 48px 64px;
    color: #fff;
    display: flex;
    gap: 42px;
}

.contact-us__info-first,
.contact-us__info-second {
    width: 294px;
    flex-shrink: 0;
}

.contact-us__info-title {
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 143%;
    border-bottom: 1px solid rgb(255 255 255 / 0.1);
}

.contact-us__info-title,
.contact-us__info-text,
.contact-us__info-email {
    opacity: 0.6;
}

.contact-us__info-day,
.contact-us__info-time,
.contact-us__info-link {
    display: block;
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
}

.contact-us__info-link,
.contact-us__info-email {
    color: #fff;
}

.contact-us__form-input,
.contact-us__form-list,
.contact-us__form-textarea,
.contact-us__form-input::placeholder,
.contact-us__form-textarea::placeholder {
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #232536;
}

.contact-us__form-input,
.contact-us__form-list,
.contact-us__form-textarea,
.contact-us__form-button {
    padding: 24px;
    width: 100%;
}

.contact-us__form-textarea {
    height: 144px;
    resize: none;
}

/*---------------
  PRIVACY POLICY
-----------------*/

.privacy-policy {
    background-color: #F4F0F8;
}

.section-wrapper {}

.privacy-policy .container {
    max-width: 310px;
    padding: 80px 0;
    text-align: center;
}

.privacy-policy__title {
    text-transform: capitalize;
}

.privacy-policy__title,
.privacy-text__title {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: -0.04em;
    color: #232536;
}

.privacy-policy__text {
    color: #232536;
    opacity: 0.6;
}

.privacy-policy__text-time {}

.privacy-text .container {
    max-width: 798px;
}

.privacy-text__title {
    margin-bottom: 32px;
}

.privacy-text__title--second {
    font-size: 36px;
    letter-spacing: -0.06em;
}

.privacy-text-desc {
    color: #4c4c4c;
}

.privacy-text-desc--second {
    margin-bottom: 32px;
}

/*-----
  JOIN
-------*/

.join__inner {
    margin: 0 auto;
    max-width: 410px;
    text-align: center;
}

.join__title {
    margin-bottom: 16px;
}

.join__text {
    margin-bottom: 32px;
    color: #6d6e76;
}

/*-------
  FOOTER
---------*/

.footer {
    padding: 59px 0 56px;
    background-color: #232536;
}

.footer__nav {
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav-list {
    display: flex;
    gap: 24px;
}

.footer__nav-link {
    color: #fff;
}

.footer__inner {
    margin-bottom: 48px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 80px 64px;
    display: flex;
    gap: 64px;
}

.footer__inner-title {
    max-width: 560px;
    color: #fff;
}

.footer__form {
    display: flex;
    gap: 24px;
    max-width: 526px;
    height: 56px;
    flex: 1;
}

.footer__form-input {
    padding: 14px 24px;
    background-color: transparent;
    flex: 1;
    line-height: 175%;
    color: #fff;
    border: 1px solid #4c4c4c;
    outline: none;
}

.footer__form-input::placeholder {
    color: #6d6e76;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    color: #fff;
    opacity: 0.7;
}

.footer__contact-text {
    line-height: 175%;
}

.footer__contact-link+.footer__contact-link {
    margin-left: 5px;
}

.footer__contact-list {
    display: flex;
    gap: 26px;
}







@media (max-width: 1285px) {
    .posts-category__second-list {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 1200px) {
    .testimonials__btn-wrapper {
        right: 20px;
    }
}


@media (max-width: 1150px) {
    .btn {
        padding: 10px 38px;
    }

    .featured__card {
        max-width: 733px;
        width: 100%;
    }

    .all__list-link {
        font-size: 22px;
    }

    .community__about-title {
        font-size: 32px;
    }

    .choose__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .choose__list-item {
        max-width: 450px;
    }

    .started__second {
        padding: 60px;
        max-width: 600px;
        top: 170px;
    }

    .started__second-title {
        font-size: 40px;
    }

    .author__list-item {
        padding: 30px;
    }

    .author__list-link {
        font-size: 24px;
    }

    .featured-logo .container {
        justify-content: space-between;
    }

    .featured-logo__two-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 45px;
    }

    .testimonials__line {
        margin-right: 30px;
        margin-left: 20px;
    }

    .featured-post__title {
        font-size: 30px;
    }

    .featured-post__image {
        max-width: 420px;
    }

    .posts-card__image {
        max-width: 450px;
    }

    .posts-card__title {
        font-size: 32px;
    }

    .choose__title--second {
        text-align: center;
    }

    .blog-post .container {
        padding-top: 90px;
    }

    .read-next__post-image {
        margin-bottom: 20px;
    }

    .read-next__post-title {
        font-size: 25px;
    }

    .about-us__first {
        bottom: -34px;
    }

    .about-us__first-inner {
        padding: 34px;
    }

    .about-us__first-title {
        font-size: 38px;
    }

    .about-us__second-inner {
        left: 40px;
    }

    .about-us__third {
        padding: 70px 50px;
    }

    .our-team__inner {
        gap: 80px;
    }

    .our-team__text-wrapper {
        max-width: 420px;
    }

    .our-team__image {
        height: 400px;
    }

    .posts-category .container {
        gap: 100px;
    }

    .posts-category__card .posts-card__image {
        width: 260px;
    }

    .posts-category__list-item {
        width: 240px;
    }

    .author__text-title {
        font-size: 42px;
    }

    .footer__inner {
        padding: 60px 44px;
    }

    .footer__inner-title {
        font-size: 28px;
    }
}

@media (max-width: 950px) {
    .not-scroll {
        overflow: hidden;
    }
    .header {
        padding: 20px 0;
    }

    .header__menu-btn {
        background-color: transparent;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    .header__menu-btn::before,
    .header__menu-btn::after {
        content: '';
        background-color: #fff;
        width: 40px;
        height: 3px;
        position: absolute;

    }

    .header__menu-btn::before {
        top: 0;
    }

    .header__menu-btn::after {
        bottom: 0;
    }

    .header__menu-line {
        background-color: #fff;
        width: 40px;
        height: 3px;
    }

    .header__menu,
    .header__menu-list {
        flex-direction: column;
        align-items: center;
    }

    .header__menu {
        background-color: #232536;
        justify-content: center;
        position: fixed;
        inset: 0;
        z-index: 10;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
    }

    .header__menu.active {
        transform: translateY(0);
    }

    .header__menu-link {
        font-size: 20px;
    }

    .section-wrapper {
        margin-bottom: 90px;
    }

    .welcome__title {
        font-size: 36px;
    }

    .section__title {
        font-size: 32px;
    }

    .posts__wrapper {
        gap: 25px;
    }

    .featured__card {
        padding: 20px;
    }

    .featured__card-image {
        height: 295px;
    }

    .featured__card-title {
        font-size: 24px;
    }

    .all__list-link {
        font-size: 20px;
    }

    .community__inner {
        gap: 30px;
    }

    .started__second {
        max-width: 500px;
        padding: 40px;
        top: 190px;
    }

    .started__second-title {
        font-size: 35px;
    }

    .author__list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .author__list-item {
        max-width: 380px;
        width: 100%;
    }

    .testimonials .container {
        padding: 80px 40px;
    }

    .swiper-slide__inner-name {
        font-size: 22px;
    }

    .featured-post .container {
        padding: 60px 15px;
    }

    .posts-card__image {
        max-width: 400px;
    }

    .posts-card__title {
        font-size: 30px;
    }

    .blog-post .container {
        padding-top: 45px;
    }

    .blog-post__first,
    .blog-post__image {
        margin-bottom: 30px;
    }

    .blog-post__title {
        font-size: 38px;
    }

    .read-next__list {
        gap: 20px;
    }

    .read-next__post-image {
        margin-bottom: 15px;
    }

    .read-next__post-title {
        font-size: 23px;
    }

    .about-us__first-inner {
        padding: 20px;
    }

    .about-us__first-title {
        font-size: 28px;
    }

    .about-us__second-inner {
        left: 0;
    }

    .about-us__list {
        padding: 25px;
    }

    .about-us__list-title {
        font-size: 46px;
    }

    .about-us__third {
        padding: 50px 35px;
        gap: 20px;
    }

    .our-team__inner {
        gap: 50px;
    }

    .our-team__text-wrapper {
        width: 100%;
    }

    .our-team__image {
        height: 370px;
    }

    .our-team__img-wrapper::before {
        width: 74px;
        height: 84px;
        left: -32px;
    }

    .posts-category .container {
        flex-direction: column;
    }

    .posts-category .container {
        gap: 40px;
    }

    .posts-category__card .posts-card__image {
        width: 290px;
    }

    .posts-category__list {
        margin-bottom: 28px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .posts-category__list-item {
        max-width: 420px;
        width: 100%;
    }

    .posts-category__second-title {
        text-align: center;
    }

    .posts-category__second-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .posts-category__second-list {
        max-width: 100%;
    }

    .posts-category__second-list-link {
        max-width: 275px;
        width: 100%;
    }

    .author-post .container {
        padding-top: 80px;
    }

    .author__text-title,
    .author__text-desc {
        margin-bottom: 18px;
    }

    .author__text-title {
        font-size: 38px;
    }

    .my-posts__title {
        margin-bottom: 40px;
    }

    .contauct-us__text {
        margin-bottom: 40px;
        padding-top: 60px;
    }

    .contauct-us__text-title {
        font-size: 42px;
    }

    .contact-us__form-input,
    .contact-us__form-list,
    .contact-us__form-textarea,
    .contact-us__form-button {
        padding: 20px;
    }

    .privacy-policy {
        margin-bottom: 60px;
    }

    .privacy-policy .container {
        padding: 50px 0;
    }

    .privacy-text__title {
        margin-bottom: 20px;
    }

    .privacy-policy__title,
    .privacy-text__title {
        font-size: 42px;
    }

    .privacy-text__title--second {
        font-size: 32px;
    }

    .footer {
        padding: 40px 0;
    }

    .footer__nav,
    .footer__inner {
        margin-bottom: 35px;
    }

    .footer__inner {
        padding: 45px 30px;
    }

    .footer__inner-title {
        font-size: 24px;
    }


}

@media (max-width: 860px) {
    .posts__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .all {
        max-width: 733px;
        width: 100%;
    }

    .all__list-item {
        padding-left: 15px;
    }

    .all__list-link {
        max-width: 550px;
        font-size: 22px;
    }

    .community__inner {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .community__target {
        width: 100%;
    }

    .started__second {
        max-width: 400px;
        padding: 30px;
    }

    .started__second-title {
        font-size: 24px;
    }

    .featured-logo__two-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .swiper-slide__text {
        font-size: 22px;
    }

    .testimonials__btn-wrapper {
        bottom: 10px;
    }

    .featured-post .container {
        align-items: center;
    }

    .featured-post__image {
        max-width: 375px;
    }

    .posts-card {
        gap: 28px;
    }

    .posts-card__image {
        max-width: 370px;
    }

    .posts-card__title {
        font-size: 26px;
    }

    .read-next__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    .about-us__first {
        margin: 30px 0;
        padding-top: 0;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        bottom: 0;
    }

    .about-us__first-inner {
        padding: 0;
    }

    .about-us__first-title {
        font-size: 30px;
    }

    .about-us__second {
        height: 344px;
    }

    .about-us__list-title {
        font-size: 36px;
    }

    .about-us__list {
        padding: 10px;
    }

    .about-us__third {
        padding: 30px 25px;
    }

    .about-us__third-title {
        padding-top: 10px;
        font-size: 24px;
    }

    .our-team__inner {
        gap: 25px;
    }

    .our-team__text-wrapper {
        max-width: 370px;
    }

    .our-team__img-wrapper::before,
    .our-team__image-wrapper::before {
        display: none;
    }

    .author__text-title {
        font-size: 34px;
    }
}

@media (max-width: 775px) {

    .section-wrapper {
        margin-bottom: 60px;
    }

    .featured__title,
    .all__inner {
        margin-bottom: 20px;
    }

    .community__inner {
        padding: 55px;
    }

    .community__about-title {
        font-size: 28px;
    }

    .community__target-title {
        font-size: 24px;
    }

    .started__second {
        padding: 20px;
        top: 0;
    }

    .testimonials .container {
        padding: 70px 30px;
    }

    .swiper-slide__text {
        margin-bottom: 90px;
    }

    .swiper-slide__text,
    .swiper-slide__inner-name {
        font-size: 21px;
    }

    .featured-post__image {
        max-width: 280px;
    }

    .posts-card__image {
        max-width: 310px;
    }

    .posts__card-category,
    .posts-card__title {
        margin-bottom: 10px;
    }

    .posts-card__title {
        font-size: 23px;
    }

    .blog-post__title {
        font-size: 34px;
    }

    .blog-post__second-item {
        margin-bottom: 30px;
    }

    .blog-post__second-txt {
        margin-bottom: 20px;
    }

    .blog-post__second-element {
        font-size: 22px;
    }

    .read-next__post-title {
        font-size: 22px;
    }

    .about-us__third {
        flex-direction: column;
        gap: 30px;
    }

    .our-team__inner {
        margin-bottom: 25px;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .our-team__text-wrapper {
        max-width: 624px;
    }

    .our-team__image {
        height: 290px;
    }

    .our-team__image-wrapper {
        max-width: 624px;
        width: 100%;
    }

    .businnes .container {
        padding: 60px 0;
    }

    .businnes__title {
        font-size: 52px;
    }

    .posts-category__card .posts-card__image {
        max-width: 260px;
        max-height: 240px;
    }

    .author__text-title {
        font-size: 30px;
    }

    .contauct-us__text {
        margin-bottom: 30px;
    }

    .contact-us__info {
        padding: 35px;
    }

    .contact-us__info-first,
    .contact-us__info-second {
        max-width: 290px;
        width: 100%;
        flex-shrink: 1;
    }

    .contauct-us__text-title {
        margin-bottom: 14px;
        font-size: 38px;
    }

    .footer__inner {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }

    .footer__form {
        width: 100%;
    }

    .footer__inner-title {
        font-size: 20px;
    }
}

@media (max-width: 650px) {

    .section-wrapper {
        margin-bottom: 40px;
    }

    .author.section-wrapper,
    .featured-logo.section-wrapper {
        margin-bottom: 40px;
    }

    .section__title {
        font-size: 28px;
    }

    .featured__card-image {
        margin-bottom: 15px;
    }

    .posts__info--second,
    .featured__card-title {
        margin-bottom: 10px;
    }

    .featured__card-text {
        margin-bottom: 20px;
    }

    .all__list-item {
        padding: 18px;
    }

    .all__list-link {
        font-size: 20px;
    }

    .community__inner {
        padding: 40px;
    }

    .choose__list {
        gap: 20px;
    }

    .choose__list-item {
        padding: 20px;
    }

    .choose__list-wrapper {
        margin-bottom: 10px;
    }

    .choose__list-title {
        font-size: 24px;
    }

    .started__first-image {
        display: none;
    }

    .started__second {
        padding: 0;
        position: relative;
    }

    .author__list-link {
        font-size: 23px;
    }

    .featured-logo .container {
        flex-direction: column;
        gap: 40px;
    }

    .testimonials .container {
        padding: 30px;
        flex-direction: column;
    }

    .testimonials__line {
        margin: 20px 0;
        width: 100%;
        height: 2px;
    }

    .swiper {
        max-width: 565px;
        width: 100%;
    }

    .swiper-slide__text {
        margin-bottom: 30px;
    }

    .swiper-slide__text,
    .swiper-slide__inner-name {
        font-size: 20px;
    }

    .featured-post .container {
        padding: 40px 15px;
    }

    .featured-post__image {
        display: none;
    }

    .all-posts__title {
        margin-bottom: 32px;
        padding-bottom: 18px;
        text-align: center;
        font-size: 40px;
    }

    .posts-card {
        max-width: 450px;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .all-posts__list-item {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .posts-card__image {
        width: 350px;
        height: 220px;
    }

    .posts-card__title {
        font-size: 25px;
    }

    .blog-post .container {
        padding-top: 25px;
    }

    .blog-post__first-inner {
        margin-bottom: 18px;
    }

    .blog-post__first-link {
        font-size: 25px;
    }

    .blog-post__title {
        margin-bottom: 18px;
        font-size: 29px;
    }

    .blog-post__image {
        max-height: 320px;
    }

    .blog-post__second-item {
        margin-bottom: 20px;
    }

    .blog-post__second-txt,
    .blog-post__second-list {
        margin-bottom: 15px;
    }

    .blog-post__second-element {
        font-size: 20px;
    }

    .read-next__title {
        margin-bottom: 35px;
        text-align: center;
    }

    .read-next__list {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .read-next__list-item {
        max-width: 450px;
    }

    .read-next__post-image {
        max-height: 270px;
    }

    .read-next__post-title {
        font-size: 25px;
    }

    .about-us__first-title {
        font-size: 28px;
    }

    .about-us__list {
        gap: 20px;
    }

    .about-us__list-title {
        font-size: 32px;
    }

    .about-us__third {
        padding: 20px;
    }

    .our-team__inner {
        margin-bottom: 20px;
        gap: 10px;
    }

    .our-team__title,
    .our-team__text {
        margin-bottom: 10px;
    }

    .businnes .container {
        padding: 40px 15px;
    }

    .businnes__title {
        font-size: 48px;
    }

    .posts-category .container {
        gap: 30px;
    }

    .posts-category__second-title {
        margin-bottom: 28px;
    }

    .posts-category__list {
        margin-bottom: 20px;
        gap: 15px;
    }

    .posts-category__list-item {
        padding: 14px;
    }

    .posts-category__list-link {
        font-size: 24px;
    }

    .posts-category__second-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .author-post .container {
        padding-top: 40px;
    }

    .author__inner {
        padding-bottom: 35px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 18px;
    }

    .author__image {
        width: 210px;
        height: 250px;
    }

    .my-posts__title {
        margin-bottom: 30px;
        text-align: center;
        font-size: 42px;
    }

    .author__text-list {
        justify-content: center;
    }

    .contauct-us__text {
        padding-top: 40px;
    }

    .contauct-us__text {
        margin-bottom: 25px;
    }

    .contauct-us__text-title {
        padding-top: 0;
        margin-bottom: 10px;
        font-size: 32px;
    }

    .contact-us__info {
        flex-direction: column;
    }

    .contact-us__info-first,
    .contact-us__info-second {
        max-width: 100%;
        text-align: center;
    }

    .contact-us__info {
        margin-bottom: 25px;
        padding: 20px;
        gap: 25px;
    }

    .contact-us__form-input,
    .contact-us__form-list,
    .contact-us__form-textarea,
    .contact-us__form-button {
        padding: 16px;
    }

    .privacy-policy {
        margin-bottom: 20px;
    }

    .privacy-policy .container {
        padding: 40px 0;
    }

    .privacy-policy__title,
    .privacy-text__title {
        font-size: 38px;
    }

    .privacy-text__title--second {
        font-size: 30px;
    }

    .privacy-text-desc--second {
        margin-bottom: 20px;
    }

    .footer__nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .footer__inner {
        padding: 25px;
    }
}

@media (max-width: 500px) {

    .welcome__desc {
        padding-top: 80px;
    }

    .featured__card-image {
        height: 250px;
    }

    .all__list-link {
        font-size: 19px;
    }

    .community__inner {
        padding: 25px;
        gap: 20px;
    }

    .community__about-title {
        font-size: 24px;
    }

    .community__target-title {
        font-size: 20px;
    }

    .community__about-subtitle,
    .community__target-subtitle {
        margin-bottom: 14px;
    }

    .community__about-title,
    .community__about-text,
    .community__target-title {
        margin-bottom: 10px;
    }

    .choose__title {
        margin-bottom: 28px;
    }

    .choose__list {
        grid-template-columns: 1fr;
    }

    .choose__list-item {
        padding: 15px;
    }

    .started__second-subtitle {
        margin-bottom: 14px;
    }

    .started__second-text {
        margin-bottom: 24px;
    }

    .author__title {
        margin-bottom: 28px;
    }

    .author__list {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .author__list-item {
        padding: 20px;
    }

    .author__list-link {
        font-size: 26px;
    }

    .featured-logo .container {
        gap: 25px;
    }

    .testimonials .container {
        padding: 20px;
        padding-bottom: 80px;
    }

    .subtitle {
        margin-bottom: 5px;
    }

    .testimonials__title {
        margin-bottom: 10px;
    }

    .swiper-slide__text,
    .swiper-slide__inner-name {
        font-size: 19px;
    }

    .testimonials__line {
        margin: 15px 0;
    }

    .featured-post .container {
        padding: 30px 15px;
    }

    .featured-post__subtitle {
        margin-bottom: 10px;
    }

    .featured-post__text {
        margin-bottom: 20px;
    }

    .all-posts__list-item {
        margin-bottom: 25px;
    }

    .posts-card__image {
        width: 100%;
        height: 185px;
    }

    .blog-post__first,
    .blog-post__image {
        margin-bottom: 20px;
    }

    .blog-post__first-inner {
        margin-bottom: 10px;
    }

    .blog-post__first-link {
        font-size: 23px;
    }

    .blog-post__title {
        margin-bottom: 15px;
        font-size: 26px;
    }

    .blog-post__second-title {
        font-size: 26px;
    }

    .blog-post__category {
        font-size: 22px;
    }

    .blog-post__second-item {
        margin-bottom: 15px;
    }

    .blog-post__second-element {
        font-size: 19px;
    }

    .read-next__list {
        padding-bottom: 40px;
        gap: 25px;
    }

    .read-next__post-image {
        margin-bottom: 10px;
        max-height: 245px;
    }

    .read-next__post .featured__info,
    .read-next__post-title {
        margin-bottom: 10px;
    }

    .read-next__post-title {
        font-size: 22px;
    }

    .about-us__first {
        gap: 10px;
    }

    .about-us__second-inner {
        top: 0;
    }

    .about-us__first-title,
    .about-us__list-title {
        font-size: 26px;
    }

    .about-us__second-lines {
        display: none;
    }

    .about-us__third {
        padding: 15px;
        gap: 25px;
    }

    .about-us__third-title {
        margin-bottom: 10px;
        padding-top: 5px;
        font-size: 22px;
    }

    .our-team__title {
        font-size: 26px;
    }

    .our-team__text {
        font-size: 21px;
    }

    .our-team__image {
        height: 260px;
    }

    .businnes .container {
        padding: 30px 15px;
    }

    .businnes__title {
        font-size: 40px;
    }

    .businnes__text {
        margin-bottom: 25px;
    }

    .posts-category__second-title {
        margin-bottom: 18px;
    }

    .posts-category__list {
        grid-template-columns: 1fr;
    }

    .posts-category__list-item {
        max-width: 100%;
    }

    .author__inner {
        padding-bottom: 25px;
    }

    .author__image {
        width: 190px;
        height: 220px;
    }

    .author__text-title,
    .author__text-desc {
        margin-bottom: 12px;
    }

    .author__text-title {
        font-size: 26px;
    }

    .my-posts__title {
        margin-bottom: 25px;
        font-size: 38px;
    }

    .contauct-us__text {
        padding-top: 30px;
    }

    .contauct-us__text-title {
        font-size: 28px;
    }

    .contact-us__form-input,
    .contact-us__form-list,
    .contact-us__form-textarea,
    .contact-us__form-button {
        padding: 12px;
    }

    .contact-us__form-textarea {
        height: 100px;
    }

    .privacy-policy .container {
        padding: 30px 15px;
    }

    .privacy-policy__title,
    .privacy-text__title {
        font-size: 34px;
    }

    .privacy-text__title--second {
        font-size: 28px;
    }

    .join__title {
        margin-bottom: 10px;
    }

    .join__text {
        margin-bottom: 20px;
    }

    .footer__nav-list,
    .footer__form {
        flex-direction: column;
    }

    .footer__inner {
        padding: 20px;
        gap: 20px;
    }
}

@media (max-width: 400px) {
    .featured-logo__two-list {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .posts-card__title {
        font-size: 24px;
    }

    .blog-post__title,
    .blog-post__second-title {
        font-size: 23px;
    }

    .blog-post__first-link {
        font-size: 21px;
    }

    .about-us__first-title,
    .about-us__list-title {
        font-size: 24px;
    }

    .about-us__third-title {
        font-size: 21px;
    }

    .our-team__title {
        font-size: 25px;
    }

    .our-team__text {
        font-size: 20px;
    }

    .posts-category__second-list {
        grid-template-columns: 1fr;
    }

    .posts-category__second-list-link {
        max-width: 100%;
    }

    .author-post .container {
        padding-top: 30px;
    }

    .author__inner {
        gap: 14px;
    }

    .author__image {
        width: 175px;
        height: 200px;
    }

    .author__text-title,
    .author__text-desc {
        margin-bottom: 10px;
    }

    .author__text-title {
        font-size: 23px;
    }

    .my-posts__title {
        font-size: 35px;
    }

    .contauct-us__text {
        margin-bottom: 20px;
    }

    .contauct-us__text-title {
        font-size: 26px;
    }

    .contact-us__info {
        gap: 20px;
    }

    .contact-us__info-title {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .contact-us__info-day,
    .contact-us__info-time,
    .contact-us__info-link {
        font-size: 18px;
    }

    .privacy-policy {
        margin-bottom: 10px;
    }

    .privacy-text__title {
        margin-bottom: 15px;
    }

    .privacy-policy__title,
    .privacy-text__title {
        font-size: 28px;
    }

    .privacy-text__title--second {
        font-size: 22px;
    }

    .privacy-text-desc--second {
        margin-bottom: 15px;
    }
}